 
 div.img {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}	

div.img:hover {
    border: 1px solid #777;
}

div.img img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

.botao { 
    display: inline;
    margin: 10px 30px;
    margin-top: 10px;
    min-height: 25px; 
    width: 150px; 
    border-radius: 30px; 
    border: 1px 1px  #000000; 
    background-color: #f1f1f1;
    color: #000000; 
    font-family: 'Do Hyeon', sans-serif; 
    height: 25px; 
}

.botao:hover{
    min-height: 23px; 
    width: 150px; 
    border-radius: 30px; 
    border: 1px 1px rgb(0, 0, 0); 
    background-color: rgb(189, 195, 199); 
    font-family: 'Do Hyeon', sans-serif; 
    height: 23px;
}

html {
	background: #f1f1f1;
	margin: 0 20px;
}

body {
	background: rgb(255, 255, 255);
	color: #444;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	margin: 0px auto 25px;
	padding: 20px 20px 10px 20px;
	max-width: 1024px;
	-webkit-font-smoothing: subpixel-antialiased;
	box-shadow: 0 1px 3px rgba(0,0,0,0.13);
}


h4 {
    text-align: right;
}

.cartao {
    height: 45px;
}

.pix {
    height: 45px;
}

footer {
    padding-top: 10vh;
	bottom: 1px;
	width:100%;
    color: #777;
    text-align: center;   
}

/*contato alternativo

.form {
    margin-right: 190px;
    display: inline-block;
    vertical-align: top;
}

.contato {
    display: inline-block;
    text-align: center;
}


a {
	text-decoration: none;
}

#whatapp {
    display: inline-block;
}

#skype {
    display: inline-block;
}

#telegram {
    display: inline-block;
}*/

a {
	text-decoration: none;
}

.gale {
    width: 200px;
    height: 200px;
    margin: 10px;
    border: solid 3px #f1f1f1;
    padding: 1px;
}

.gale:hover {
    border: solid 2px rgb(209, 224, 7);
}

.gale:active {
    border: solid 1px red;
}

.center {
    text-align: center;
}